html {
    background-color: #2A555E;
}

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    font-size: larger;
}

.form-container{
    width: 500px;
    background-color: #70ABAF;
    border-radius: 25px;
    padding: 50px
}


form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

form+p, form p {
    text-align: center;
}

input, button{
    border-radius: 20px;
    border: unset;
    padding: 15px 30px;
    font-size: larger;
}

button{
    background-color: #2A555E;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.error{
    color: rgb(255, 81, 81);
}

.escondido{
    display: none;
}

.sr-only{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;}
.rol{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.rol input,label{
    margin-right: 10px;
}